<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <h2>{{greetings}}</h2>
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

        </div>

        <p jhiTranslate="home.question">
            If you have any question on This Karma Documentation:
        </p>

        <ul>
            <li><a href="http://www.gabrielfreire.com.br/" target="_blank" jhiTranslate="home.link.homepage">Gabriel Freire homepage</a></li>
            <li><a href="https://br.linkedin.com/in/gabriel-freire-20929024" target="_blank" jhiTranslate="home.link.linkedin">Gabriel on LinkedIn</a></li>
            <li><a href="https://www.facebook.com/gabrielfreiredev" target="_blank" jhiTranslate="home.link.facebook">Gabriel on Facebook</a></li>
            <li><a href="https://github.com/gabrielfreire" target="_blank" jhiTranslate="home.link.githubL">Gabriel on Github</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like this Documentation, don't forget to give us a star on</span> <a href="https://github.com/gabrielfreire/Angular2-n-Spring-boot" target="_blank" jhiTranslate="home.github">Github</a>!
        </p>
    </div>
    <chapter></chapter>
</div>
<!-- <div class="row">
    <algorithms></algorithms>
</div> -->

